
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddBook</title>
</head>
<body>
    <form method="post">
        <label>BookId:</label><br />
        <input type="text" name="bookid" /><br /><br />
        <label>Title:</label><br />
        <input type="text" name="title" /><br /><br />
        <label>Chapter Number:</label><br />
        <input type="text" name="chapterNumber" /><br /><br />
        <label>Text:</label><br />
        <input type="text" name="text" /><br /><br />
        <input type="submit" value="Отправить" />
    </form>
</body>
</html>
